---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Sobre mí"
	pubDate={new Date('April 30 2024')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Estudié Magisterio de Educación Infantil porque me caracteriza la vocación de servicio. Ha
		sido un camino fácil de recorrer dado que involucra una de mis grandes pasiones: el <strong>dibujo</strong>.
		Soy una persona <strong>creativa</strong>, de las que disfruta transformando ideas en proyectos. El interés
		por lo visual me llevó a explorar el mundo del <strong>desarrollo web</strong>, con un enfoque especial en el
		desarrollo frontend.
	</p>

	<p>
		Ingresé al sector tecnológico por <strong>inquietud propia</strong>, con muchas ganas de aprender y con la certeza
		de que tengo mucho que aportar.
	</p>

	<p>
		He decidido comenzar este Blog para desarrollar aún más mi potencial y aprender cosas nuevas.
		Considero que cada proyecto es una oportunidad para crecer y expandir mis habilidades. Además,
		estoy emocionada de compartir mi aprendizaje con otros apasionados por el desarrollo web y el diseño.
	</p>

	<p>
		Este blog será mi espacio para experimentar, crear y aprender juntos en esta apasionante travesía.
		Espero que lo disfrutes tanto como yo.
	</p>

	<script type="module" src="https://unpkg.com/@splinetool/viewer@1.2.1/build/spline-viewer.js"></script>
	<spline-viewer url="https://prod.spline.design/o79L-x0tQvFzXNF6/scene.splinecode"></spline-viewer>

</Layout>
